$space = 30px

.box
  margin-top: $space
  
.box *
  margin: $space/2
  
.box.small
  +column($blueprint-grid-columns/4)

.box.medium
  +column($blueprint-grid-columns/2)

.box.last
  +last

.box.border-top
  border-top: 1px solid $seperation_line_color

.box.border-bottom
  border-bottom: 1px solid $seperation_line_color

.box.min-height-245px
  min-height: 245px

