#header
  #header-container
    #header-content
      = link_to RefinerySetting.get(:site_name), root_url(:only_path => true), :id => 'logo'
      = render :partial => "/shared/menu", |
        :locals => {                       |
          :dom_id => 'menu',               |
          :css => 'menu'                   |
        }                                  |
