#site-bar
  background: #22a7f2

#site-bar-container
  +container

#site-bar-content
  +column($blueprint-grid-columns, true)
  +prepend-top
  +append-bottom

#site-bar *
  color: white
    
#editor-switch
  float: left

#site-bar-branding
  float: right

#site-bar-refinery-cms-logo
  display: none