#site_bar
  +container
  background: #22a7f2
#site_bar *
  color: white
    
#editor_switch,
#site_bar_refinery_cms_logo,
#site_bar_branding
  float: left
  margin-top: 15px

#site_bar_branding
  float: right

#site_bar_refinery_cms_logo
  display: none