$height = 95px
  
#header
  height: $height
  background-color: $header_background_color

#header-container
  +container

#header-content
  +column($blueprint-grid-columns, true)

#main-menu ul
  +horizontal-list
  float: right
  a
    +link-colors($main_nav_link_color_default, $main_nav_link_color_hover, $main_nav_link_color_active, $main_nav_link_color_visited, $main_nav_link_color_focus)
    +unstyled-link