$height = 95px
  
#header
  height: $height
  background-color: $header_background_color
  border-bottom: 4px solid $header_border_color

#home #header
  border-bottom: 4px solid $header_background_color

#header-container
  +container

#header-content
  +column($blueprint-grid-columns, true)

#main-menu
  +column($blueprint-grid-columns - 4, true)
  margin-top: $height - 20
  ul
    +horizontal-list
    float: right
    ul
      display: none
    li
      margin-right: 30px
      &.last
        margin-right: 0px
    a
      +link-colors($main_nav_link_color_default, $main_nav_link_color_hover, $main_nav_link_color_active, $main_nav_link_color_visited, $main_nav_link_color_focus)
      font-weight: bold
      text-decoration: none
    .selected a
      color: $main_nav_link_color_active
    .selected.first a
      color: $main_nav_link_color_default
      &:hover
        color: $main_nav_link_color_hover

#logo
  margin-top: 20px
  +column(4)
  +replace-text('/images/cyt/logo.png')
  width: 137px
  height: 56px
  display: block
  